.heading {
  color: white;
}
.inputcontainer {
  background-color: rgba(39, 37, 54, 1);
  padding-left: 10px;
  border-radius: 10px;
  padding-right: 10px;
  max-width: 800px;
}

.input-text1 {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  width: 250px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 700px;
  padding-left: 10px;
  outline: none;
}
.input-text2 {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  padding-left: 10px;
  width: 779px;
  outline: none;
  padding-bottom: 100px;
}
.inputcontainer1 {
  padding-bottom: 20px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
.submit_btn {
  margin-top: 20px;
}
.submit {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
}
.submit_btn {
  background-color: rgba(15, 114, 203, 1);
  color: #fff;
  border: none;
  outline: none;
  height: 45px;
  width: 110px;
  border-radius: 10px;
}

@media (max-width: 768.98px) {
  .inputcontainer1 {
    padding-bottom: 0;
  }
  .input-text1 {
    margin-bottom: 15px;
    width: 100%;
    margin-right: 10px;
  }
  .input-text2 {
    width: 740px;
  }
  .submit {
    margin-right: 7px;
  }
}
@media (max-width: 575.98px) {
  .input-text2 {
    width: 100%;
  }
  .inputcontainer1 {
    flex-direction: column;
  }
}
