.Navbar {
  background: rgba(31, 29, 43, 1);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}
.input-text {
  outline: none;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 7px;
  color: white;
  border: none;
  padding-bottom: 6px;
  width: 100%;
  padding-left: 20px;
  padding-top: 6px;
  font-size: 12px;
}
input::placeholder {
  color: rgba(255, 255, 255, 0.1);
}

.headerButton {
  padding: 6px 30px;
  color: white;
  border: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
}
.headerButtonActive {
  background: rgba(15, 114, 203, 1);
}
.twobtn .tv {
  margin-right: -18px;
}

.contactbtn {
  border: none;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 6px 30px;
  border-radius: 10px;
}

.contactnoti img {
  padding-left: 20px;
  height: 20px;
}
.search_bar {
  width: 35%;
  display: flex;
  position: relative;
}
.searchimg {
  position: absolute;
  right: 20px;
  top: 13px;
}
.contactnoti {
  display: flex;
  justify-content: center;
  align-items: center;
}
