.sideBar {
  width: 300px;
  padding: 30px 0;
}
.sideBar .item {
  display: flex;
  align-items: center;
  padding: 8px 20px;
  transition: linear ease-in 0.3s;
  color: #808191;
  font: 14px poppins;
  cursor: pointer;
  border-radius: 20px;
}

.sideBar .item:hover {
  background-color: rgba(15, 114, 203, 1);
  color: #fff;
}

.sideBar .item .circle {
  height: 32px;
  width: 32px;
  border-radius: 12px;
  background-color: var(--primaryWhite);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.sideBar .item:hover .circle {
  background-color: #fff;
}
.sideBar .itemActive {
  color: #fff;
  font-family: poppinsSb;
}
.sideBar .itemActive .circle {
  background-color: var(--primaryDarkBlue);
}
.sideBar .itemActive:hover .circle {
  background-color: var(--primaryDarkBlue);
}
